@font-face {
    font-family: "friendsfont";
    src: url("fonts/friendsfont.ttf");
    font-weight: normal;
}

* {
    box-sizing: border-box;
  }

html, body {
    color: rgb(0, 0, 0);
    max-width: 960px;
    margin: 0 auto;
}

button {
    background-color: white;
    border: none;
    bottom: 345px;
    left: 100px;
}

#picframe {
    width: 850px;
    height: 800px;
}

#frame {
    position: relative;
    left: 50px;
    top: -60px; 
}

#startgif {
    width: 30px;
}

#startsection {
    position: absolute;
    bottom: 290px;
    left: 20px;
}

#friendstitle {
    width: 360px;
    position: absolute;
    bottom: 460px;
    left: 90px;
}

#questions {
    width: 410px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    bottom: 470px;
    left: 70px;
}

#seconds {
    width: 400px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 610px;
    left: 79px;
}

#answergif {
    width: 350px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

#choices {
    width: 480px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    bottom: 300px;
    left: 38px;
}

.gamedone {
    width: 400px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 150px;
    left: 12px;
}

.pointsstyling {
    width: 480px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    bottom: 220px;
    left: 1px;
}

.jumbotron {
background-color: white;
margin-left: 160px;
position: absolute;
}

#start {
margin-top: 30px;
margin-left: 125px;
position: absolute;
}

#buttonrestart {
position: absolute;
bottom: 290px;
left: 200px;
}

#questions, #choices, #seconds {
    font-family: "friendsfont", Arial, Helvetica, sans-serif;
}

#gifid3 {
    width: 200px;
    position: absolute;
    bottom: 50px;
    left: 4px;
}

#gifid3 {
    width: 200px;
    position: absolute;
    bottom: 40px;
    left: 4px;
}

#gifid5 img {
    width: 200px;
    position: absolute;
    bottom: 70px;
    left: 150px;
}

#gifid7 img  {
    width: 250px;
    position: absolute;
    bottom: 70px;
    left: 98px;
}

#gifid8 {
    width: 100px;
    position: absolute;
    bottom: 30px;
    left: 4px;
}

#gifending img {
    width: 150px;
    position: absolute;
    bottom: 80px;
    left: 160px;
}
